BUGS
mk_release.sh*
release_labels.txt
man/checkin.sh*
man/checkout.sh*
R/RCS/
R/bup/
R/bup_01082016/
R/bup_20072016/
R/bup_22072016/
R/checkin.sh*
R/checkout.sh*
R/QUESTION
R/RCS/
R/set/
R/c212.interim.BB.hier3.lev1.R_new
R/c212.interim.BB.hier3.lev2.R_new
RCS
src/*.o
src/*.so
src/symbols.rds
src/checkin.sh*
src/checkout.sh*
src/RCS/
src/hier/
paper/RCS/
